:root {
    --sidebar-width: 360px;
}

::-webkit-scrollbar {  
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--border-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--sidebar-link-arrow-color);
}

.Wrap {
    max-width: 1600px;
}

table > thead {
    position: sticky;
    top: 50px;
}